@page
@model PokedexWeb.Pages.Views.Batalla.BatallaModel
@{
    ViewData["Title"] = "Batallas";
}

<h1 class="text-center my-3">Batallas Pokémon</h1>
<div class="mx-5">

    <div class="row  d-flex justify-content-center">
        <div class="md-auto col-10 text-center">
            <div class="d-flex justify-content-end">
                <button class="button-blue py-2 mb-3">
                    <a href="/Views/Batalla/Agregar" type="button" class="text-white text-decoration-none">Registrar Batalla</a>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table-style align-middle">
                    <thead>
                        <tr>
                            <th>Retador</th>
                            <th>Contrincante</th>
                            <th>Lugar</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reto in Model.Retos)
                        {
                            <tr>
                                <td>
                                    @reto.Retador.nombre
                                    @if (reto.ganador != null && reto.ganador == "Retador")
                                    {
                                        <span class="badge-circle won" title="Ganador"></span>
                                    }
                                    @if (reto.ganador != null && reto.ganador == "Contendiente")
                                    {
                                        <span class="badge-circle lost" title="Perdedor"></span>
                                    }
                                </td>
                                <td>
                                    @reto.Contendiente.nombre
                                    @if (reto.ganador != null && reto.ganador == "Contendiente")
                                    {
                                        <span class="badge-circle won" title="Ganador"></span>
                                    }
                                    @if (reto.ganador != null && reto.ganador == "Retador")
                                    {
                                        <span class="badge-circle lost" title="Perdedor"></span>
                                    }
                                </td>
                                <td>@reto.lugar</td>
                                <td>@reto.fecha</td>
                                <td>
                                    <button class="button icon">
                                        <a href="/Views/Batalla/Editar?id=@reto.id_reto" type="button" class="text-white text-decoration-none" title="Modificar Batalla"><i class="fa-solid fa-pen"></i></a>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>