@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}





<h1 class="text-center my-3">Bienvenido a <img src="/img/logo.png" height="90" /></h1>
    <p class="text-center py-2">Consultar lista de <a href="/Views/Pokemon/Index">Pokemon</a>.</p>
    <p>
        En esta Pokedex podrás ver información, crear un equipo, mandar a la enfermería, proponer batallas y chatear con otros entrenadores.
    </p>


