@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WebDex</h1>
    <p>Consultar lista de <a href="/Pokemon/Index">Pokemon</a>.</p>
</div>
