@page
@model PokedexWeb.Pages.Views.Usuario.ChatModel
@{


}


<button class="button-blue py-2 mb-3">
    <a href="/Views/Usuario/Contactos" type="button" class="text-white text-decoration-none">Volver</a>
</button>
<div class="row text-center mb-2">
    <h1>Chat con</h1>
    <h3 class="text-center">Usuario</h3>
</div>
<div class="row justify-content-center">
    
    <div class="col-7 py-3 d-flex flex-column" style="height: 400px;">
        <div class="chat-box d-flex flex-column flex-grow-1 overflow-auto mb-1" id="chatBox">
            <div class="message received" id="received">Hello! How are you?</div>
            <div class="message sent" id="sent">I'm good, thanks! How about you?</div>
            <div class="message received">Doing great. Just wanted to catch up.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
            <div class="message received">Sure thing! Let me know what's on your mind.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
            <div class="message sent">Sure thing! Let me know what's on your mind.</div>
        </div>

        <form class="d-flex mt-auto">
            <input type="text" class="form-control me-2" placeholder="...">
            <button class="button-red text-white" type="submit">Enviar</button>
        </form>
    </div>
</div>
