@page
@model PokedexWeb.Pages.Views.Usuario.EquipoModel
@{

    ViewData["Title"] = "Mis Pokémon";
}

<h1 class="text-center mt-3 mb-4">Mis Pokémon</h1>
<div class="row">
    
    <div class="md-auto">
        <div class="d-flex justify-content-end">
            <button class="button-blue py-2 mb-3">
                <a href="/Views/Usuario/Agregar" type="button" class="text-white text-decoration-none">Agregar Pokémon</a>
            </button>
        </div>
        
        <div class="table-responsive mx-5">
            <table class="table-style align-middle">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Habilidad</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>Equipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="text-center"src="https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif" alt="Bulbasaur">
                        </td>
                        <td>001</td>
                        <td><a href="/Views/Pokemon/Detalle">Bulbasaur</a></td>
                        <td>
                            <p>
                                <span class="badge text-bg-success rounded-pill" id="planta">Planta</span>
                            </p>
                            <p>
                                <span class="badge text-bg-success rounded-pill" id="veneno">Veneno</span>
                            </p>
                        </td>
                        <td>Espesura</td>
                        <td>6.9 kg</td>
                        <td>0.7 m</td>
                        <td>
                            <p>
                                <span class="badge text-bg-success rounded-pill" id="planta">Si</span>
                            </p>
                        </td>
                        <td class="text-center">
                            <button class="button icon">
                                <a href="" type="button" class="text-white text-decoration-none" title="Agregar a mi equipo"><i class="fa-solid fa-plus"></i></a>
                            </button>
                            <button class="button icon">
                                <a href="/Views/Pokemon/Eliminar" type="button" class="text-white text-decoration-none" title="Llevar al Centro Pokemon"><i class="fa-solid fa-user-doctor"></i></a>
                            </button>
                            <button class="button icon">
                                <a href="/Views/Pokemon/Editar" type="button" class="text-white text-decoration-none" title="Modificar Pokemon"><i class="fa-solid fa-pen"></i></a>
                            </button>
                            <button class="button icon">
                                <a href="/Views/Pokemon/Eliminar" type="button" class="text-white text-decoration-none" title="Liberar Pokemon"><i class="fa-solid fa-trash"></i></a>
                            </button>
                            
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

