html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, h3 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#psiquico {
    background-color: #e9487f !important;
}

#planta {
    background-color: #3da228 !important;
}

#fuego {
    background-color: #e92728 !important;
}

#veneno {
    background-color: #963dcb !important;
}

#hielo {
    background-color: #3dd9ff !important;
}

#volador {
    background-color: #84baef !important;
}

#tierra {
    background-color: #905120 !important;
}

#electrico {
    background-color: #f4c200 !important;
}

.badge {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 8px #000 !important;
    
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Silkscreen", sans-serif !important;
    font-size: 1.5rem;
}


@media (min-width: 992px) {
   .centered {
        font-size: 2rem;
    }
}


#login {
    min-height: 100vh;
    justify-content: center;
    padding-top: 0px;
}

#registro {
    min-height: 100vh;
    justify-content: center;
    padding-top: 0px;
}

#dialogbox {
    border-radius: 2px;
    padding: 20px;
    line-height: 16px;
    margin: auto;
    height: auto;
    background: white;
    border: 2px solid white;
    box-shadow: 0 2px 0 2px black, inset 0 2px 0 2px black, 0 0 0 2px black, inset 0 0 0 2px black;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}
.received {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
}
.list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-group-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .list-group-item {
        justify-content: center;
    }

    #contactList .list-group-item span {
        display: none;
    }
}