html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/img/cerulean-city.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
}

.title2 {
    font-family: "Oxanium", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;
}

#title {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.frame {
    border-image: url("/img/frame-hd.png") 42 round;
    border-width: 21px;
    border-style: solid;
}



.button {
    background-color: #49494b;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6), 0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 12px;
}

.button:active {
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6);
}

.button-red {
    background-color: rgb(255, 69, 83);
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6), 0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.3s ease;
}

.button-red:hover {
    background-color: rgb(240, 63, 78);
}

.button-blue {
    background-color: rgb(0, 195, 227);
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6), 0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.3s ease;
    
}

.button-blue:hover {
    background-color: rgb(0, 183, 211);
}

.icon {
    height: 50px;
    width: 50px;
    font-size: 1rem;
    padding-bottom: 12px;
    padding: 5px 5px;
}

input, select{
    background-color: #49494b;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6), 0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
}

/*select {
    background-color: #49494b;
    border-radius: 10px;
    padding: 0 20px;
    box-shadow: inset 0 -0.0625em 0.125em rgba(0, 0, 0, 0.75), inset 0 0.125em 0.125em -0.0625em rgba(255, 255, 255, 0.4), 0 0 0.03125em 0.0625em rgba(0, 0, 0, 0.6), 0 0.0625em 0.25em 0.03125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
}*/

.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sent {
    background-color: rgb(0, 195, 227);
    color: white;
    align-self: flex-end;
}

.received {
    background-color: #49494b;
    color: white;
    align-self: flex-start;
}

.list-group-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-group-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .list-group-item {
        justify-content: center;
    }

    #contactList .list-group-item span {
        display: none;
    }
}

#acero {
    background-color: #60a1b7 !important;
}

#agua {
    background-color: #2981ef !important;
}

#bicho {
    background-color: #91a11a !important;
}

#dragon {
    background-color: #5061e2 !important;
}

#electrico {
    background-color: #f4c200 !important;
}

#fantasma {
    background-color: #704070 !important;
}


#fuego {
    background-color: #e92728 !important;
}

#hada {
    background-color: #ef71ef !important;
}

#hielo {
    background-color: #3dd9ff !important;
}

#lucha {

    background-color: #ff7f00 !important;
}

#normal {
    background-color: #9fa19e !important;
}

#planta {
    background-color: #3da228 !important;
}

#psiquico {
    background-color: #ee4179 !important;
}

#roca {
    background-color: #aea981 !important;
}

#siniestro {
    background-color: #50413e !important;
}

#tierra {
    background-color: #915121 !important;
}

#veneno {
    background-color: #963dcb !important;
}


#volador {
    background-color: #84baef !important;
}

.badge {
    font-weight: 400;
    text-shadow: 1px 1px 8px #000 !important;
}

.badge-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
}

.won {
    background-color: #28a745;
}

.lost {
    background-color: #dc3545;
}


.table-style {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #58585a;
    border-radius: 10px;
    overflow: hidden;

}

thead th {
    background-color: #e84b44;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #58585a;
    text-align: center;
}

tbody td {
    padding: 10px;
    border: 1px solid #58585a;
}

tbody td {
    padding: 10px;
    border: 1px solid #58585a;
    background-color: #fff;
}